$primary-green: #3f692f;
$secondary-green: #8aa874;
$background-grey: #c7c5c1;
$black: #000;
$white: #fff;
$loader-bg: rgba(196, 195, 192, 0.5);
$loader-color-1: $secondary-green;
$loader-color-2: $primary-green;